<div class="container">
	<div class="card shadow p-3 m-3 img">
		<h1>New Demo</h1>

		<%= render 'form', demo: @demo %>
		<div>
			<%= link_to 'Back', demos_path, class: "btn btn-outline-primary btn-sm mt-2" %>
		</div>
	</div>
</div>
